body{
background-color: darkred;
text-align: center;
}

h1 {
    font-style: italic;
    color:darkblue;
    font-size: larger;
}

h2 {
    font-style: italic;
    color:black;
    font-weight:200;
}
h3 {
font-style: italic;
color: black;
}

.pizza {
    color:gainsboro;
}

.lista {
    text-align: left;
    color: gainsboro; }

.imgfamilia {
    width: 20%;
}

.imagemcarlinhos {
    width: 20%;
}