body{
background-color: darkred;
text-align: center;
}

h1 {
    font-style: italic;
    color:darkblue;
    font-size: larger;
}

h2 {
    color:black;
    font-weight:200;
}

.pizza {
    color:gainsboro;
}

.lista {
    text-align: left;
    color:black; }